x-common: &common-setup
  network_mode: host
  privileged: true
  volumes:
    - ${HOME}/.Xauthority:/home/fabian/.Xauthority:rw
    - .:/home/fabian/ros2_ws/src:rw
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - /dev/dri:/dev/dri:rw
    - /run/user/1000/pulse:/run/user/1000/pulse
    - /dev/v4l:/dev/v4l:ro
  environment:
    - NVIDIA_VISIBLE_DEVICES=all
    - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video,graphics,display
    - DISPLAY
    - QT_X11_NO_MITSHM=1
    - PULSE_SERVER=unix:/run/user/1000/pulse/native
  working_dir: /home/fabian/ros2_ws

services:
  terminal:
    <<: *common-setup
    image: fabook/iros:v0.0.1
    stdin_open: true
    tty: true
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/snd:/dev/snd
    group_add:
      - "video"
      - "44"
    command: [
      "/bin/bash","-lc","
      exec bash"
      ]

  hw-terminal:
    <<: *common-setup
    image: fabook/iros:v0.0.1
    stdin_open: true
    tty: true
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/snd:/dev/snd

      - "/dev/ttyACM0:/dev/ttyACM0"
      - "/dev/i2c-8:/dev/i2c-8"
      - "/dev/ttyTHS0:/dev/ttyTHS0"
      - "/dev/usb_2.3:/dev/usb_2.3"
      - "/dev/usb_2.4:/dev/usb_2.4"
    group_add:
      - "video"
      - "44"
    command: [
      "/bin/bash","-lc","
      exec bash"
      ]